<%layout('./layouts/boilerplate')%>
<div class="row">
  <h1 class="text-center">New Campground</h1>
  <div class="col-6 offset-3">
    <form action="/campgrounds" class="needs-validation" method="post" novalidate>
      <div class="mb-3">
        <label class="form-label" for="campground[title]"> Title: </label>
        <input class="form-control" type="text" name="campground[title]" id="title" required />
        
      </div>
      <div class="mb-3">
        <label class="form-label" for="campground[location]"> Location: </label>
        <input class="form-control" type="text" name="campground[location]" id="location" required/>
      </div>
      <div class="mb-3">
        <label class="form-label" for="campground[image]"> Image Url: </label>
        <input class="form-control" type="text" name="campground[image]" id="image" required/>
      </div>
      <div class="mb-3">
        <label class="form-label" for="campground[description]"> Description: </label>
        <textarea
          class="form-control"
          type="text"
          name="campground[description]"
          id="description"
          required
        ></textarea>
      </div>
      <div class="mb-3">
        <label class="form-label" for="campground[price]"> Campground Price: </label>
        <div class="input-group mb-3">
          <span class="input-group-text" id="price-label">$</span>
          <input
            type="text"
            name="campground[price]"
            class="form-control"
            id="price"
            placeholder="0"
            aria-label="price"
            aria-describedby="price-label"
            required
          />
        </div>
      </div>
      <div class="mb-3">
        <button class="btn btn-success" type="submit">Add Campground</button>
      </div>
    </form>
    <div class="mb-3">
      <a href="/campgrounds">All Campgrounds</a>
    </div>
  </div>
</div>

<script>
  (() => {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  const forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.from(forms).forEach(form => {
    form.addEventListener('submit', event => {
      if (!form.checkValidity()) {
        event.preventDefault()
        event.stopPropagation()
      }

      form.classList.add('was-validated')
    }, false)
  })
})()
</script>